
.bod2{
    background-color: #2F2F2F;
}
.title2,.p1{
    color: chartreuse;
    margin-top: 20px;
}
.carousel-inner{
    width: 60% !important;
    height: 60% !important;
 margin-left: 245px !important;
}
.carousel-control{
    margin: 100px !important;
}